{% extends "layout.html" %}
{% block title %}Welcome | "Notes Summarizer" {% endblock %}

{% block content %}
<div class="welcome-container">
  
  <img src="{{ url_for('static', filename='assets/welcome.png') }}" class="welcome" alt="Image">

  <h1>Unlock Computer Science Knowledge Instantly</h1>
  <p>Query topics, get relevant passages, and summarized insights from textbooks and notes.</p>

  <a href="{{ url_for('main.search_input_page') }}" class="cta-btn">Get Started</a>

  <p class="subtext">Already a member? <a href="{{ url_for('main.login') }}">Login</a></p>
</div>
{% endblock %}